
.content{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    font-weight: var(--glue-font-weight-normal);
    color: #b3b3b3;
    text-transform: none;
    font-family: spotify-circular,spotify-circular-cyrillic,spotify-circular-arabic,spotify-circular-hebrew,Helvetica Neue,Helvetica,Arial,Hiragino Kaku Gothic Pro,Meiryo,MS Gothic,sans-serif;
    &__title {
        letter-spacing: .015em;
        font-weight: var(--glue-font-weight-bold);
        text-align: center;
    }

    &__menu {
        padding: .5rem;
        border-radius: .5rem;
        background-color: rgb(12, 12, 12);
        
        >* {
            margin: 0 .5rem;
            color: white;
        }
    }

    &__body {
        background: aliceblue;
        border-radius: .5rem;
        background-color: rgb(12, 12, 12);
        margin: .5rem 0;
    }

}