/* You can add global styles to this file, and also import other style files */

html {
    background-color: rgb(4, 4, 4);
}

a {
    color: #fff;
    border-bottom: 1px solid transparent;
    text-decoration: none;
}